// Media Queries
@media (max-width: 1200px) {
    .resultsContainer {
        flex-direction: column;
    }

    h3 {
        font-size: 1.3rem;;
    }
}
@media (max-width: 800px) {
    .resultsContainer {
        width: 100%;
    }
    .mediaContainer {
        display: flex;
        flex-direction: column;
    }
    .vinylDisc:hover {
        animation: none;
    }
}
@media (max-width: 500px) {
    .vinylContainer {
        flex-direction: column;
    }
    .titleBox {
        width: 100%;
        text-align: center;
    }
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 1.1rem;
    }
    .imgBox {
        width: 48%;
        margin: 0 auto;
    }
    .vinylDisc {
        width: 100%;
        padding-top: 60px;
    }
    p {
        font-size: 1rem;
    }
    .headerP {
        padding: 60px 0 40px 0;
    }
    label {
        font-size: 1.2rem;
    }

    select,
    button {
        font-size: 0.8rem;
    }

    button {
        margin-top: 2%;
    }
    .results {
        padding: 50px;
    }
    .titleContainer {
        width: 100%;
        text-align: center;
    }
    .artistName {
        text-align: center;
    }
}